<div class="p-3">
    <dx-data-grid [dataSource]="mappings" [allowColumnReordering]="false" [showBorders]="true" [columnAutoWidth]="true"
        [allowColumnResizing]="false" [rowAlternationEnabled]="true" (onExporting)="onExporting($event)">
        <dxo-editing mode="cell" [useIcons]="true" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
        </dxo-editing>
        <dxo-header-filter [search]="{ enabled: true }" [visible]="true"></dxo-header-filter>
        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
        <dxo-export [enabled]="true" [formats]="['csv', 'xlsx']"></dxo-export>
        <dxi-column dataField="sourceColumn" minWidth="300" width="auto"></dxi-column>
        <dxi-column dataField="fieldName" minWidth="300" width="auto"></dxi-column>
        <dxi-column dataField="fieldType" width="200">
            <dxo-lookup [dataSource]="fieldTypes" displayExpr="text" valueExpr="value"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="formatPattern" width="150"></dxi-column>
        <dxi-column dataField="isUnique" width="150"></dxi-column>
    </dx-data-grid>
</div>