################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataHarbor.Loaders/obj
/DataHarbor.Transformers/obj
/DataHarbor.Extractors/obj
/DataHarbor.Common/bin/Debug/net8.0
/DataHarbor.WebAPI/bin/Debug/net8.0
/DataHarbor.Loaders/bin/Debug/net8.0/runtimes/win/lib/net8.0
/DataHarbor.Common/obj
/DataHarbor.WebAPI/obj
