################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataHarbor.Loaders/obj
/DataHarbor.Transformers/obj
