<h2>Home</h2>
<div class="content-block">
  <h6> Welcome {{userProfile?.firstName}}, {{userProfile?.lastName}}</h6>
  <div class="dx-card responsive-paddings">
    <p>
      The United Nations (UN) is an umbrella of organizations aiming to maintain international peace and safety. It
      cannot be achieved without intergovernmental coordination. The UN may act as a centre of coordination for various
      member states. Data reporting from member states can be crucial for the UN organizations to work effectively.
    </p>
    <p>
      Let’s assume that there are different agreements between the UN and member states about data reporting. Let’s also
      assume that based on individual agreements, data is shared by member states. Data shared by member states is
      utilized for analytical purposes to support informed decision-making processes.
    <p>
      Data reported for different organizations is likely of a large magnitude and received in real time as a continuous
      flow of data streams. Let’s assume there are existing solutions implemented based on legacy technologies. As the
      size of data increases over period of time, there is a demand for secure, robust and scalable solutions. Member
      states may additionally request to provide timely responses of processed data.
    </p>
    <p>
      Data Harbor is aimed to replace a hypothetical similar, legacy solution that receives and processes data, to
      provide a more secure, robust and scalable solution using modern technologies. It is planned to be designed to
      support flexibility so that, it can suffice additional future requirements. It is expected to work effectively in
      both on-premise and cloud environment.
    </p>
  </div>
</div>